In [1]:
num1=50
num2=100
result=num1+num2
print(result)

150

In [2]:
text_to_print="hello world"
print(text_to_print)

hello world

In [1]:
number1=10
print(number1)

10

In [2]:
number1=15
number1=18
print(number1)

18

In [3]:
number1="hello"
print(number1)

hello

In [4]:
number1="hello"
number2=2
result=number1+number2

TypeError: must be str, not int

In [1]:
v=10
print(type(v))

<class 'int'>

In [3]:
v="10"
print(type(v))

<class 'str'>

In [5]:
v=10.0
print(type(v))

<class 'float'>

In [6]:
s="100"
print(s)

100

In [7]:
s="abcd1234-09232<>?323"
print(s)

abcd1234-09232<>?323

In [8]:
s='abc 123'
print(s)

abc 123

In [9]:
s=''
print(s)

In [10]:
s=""
print(s)

In [11]:
a=1
b=2.5
c=a+b
print(c)

3.5

In [9]:
a=1
b="2"
c=a+b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
5/2

2.5

In [14]:
5-2

3

In [15]:
5*2

10

In [16]:
5//2

2

In [17]:
5%2

1

In [18]:
5**2

25

In [19]:
a=1
b=1.2
c="hello"
print(a,b,c)

1 1.2 hello

In [22]:
print(a,b,c, "world")

1 1.2 hello world

In [10]:
name=input("what is your name?")
print("welcome to python", name, "!")

what is your name?Robin
welcome to python Robin !

In [11]:
number1=input("Please type an integer and press enter: ")
number2=input("please type another integer and press enter: ")

print("number1+number2=", number1+number2)

Please type an integer and press enter: 2
please type another integer and press enter: 4
number1+number2= 24

In [12]:
number1=input("please type an integer and press: ")
number2=input("please type another integer and press enter: ")
number1=int(number1)
number2=int(number2)
print("number1+number2=", number1+number2)

please type an integer and press: 12
please type another integer and press enter: 21
number1+number2= 33

In [ ]:
#capter 4#

In [1]:
2==3

False

In [2]:
3==3

True

In [3]:
2>3

False

In [4]:
2<3

True

In [5]:
2!=3

True

In [6]:
3!=3

False

In [7]:
2>=3

False

In [8]:
2<=3

True

In [9]:
"Bangladesh"=="Bangladesh"

True

In [10]:
"Bangladesh"=="bangladesh"

False

In [11]:
number_list=[1,2,3,4,5,6,7,8,9,10]
print(number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
number_list=[1,2,3,4,5,6,7,8,9,10]
print(number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
print(number_list[0])

1

In [14]:
print(number_list[1])

2

In [15]:
print(number_list[9])

10

In [16]:
print(number_list[10])

IndexError: list index out of range

In [14]:
saarc=["Bangladesh","Afghanistan","Bhutan","Nepal","India","Pakistan","Sri Lanka"]
print(saarc)

['Bangladesh', 'Afghanistan', 'Bhutan', 'Nepal', 'India', 'Pakistan', 'Sri Lanka']

In [18]:
print(saarc[0])

Bangladesh

In [19]:
print("Number of Countries in SAARC:",len(saarc))

Number of Countries in SAARC: 7

In [20]:
"Bangladesh" in saarc

True

In [21]:
"Japan" in saarc

False

In [22]:
"Japan" not in saarc

True

In [23]:
"Nepal" not in saarc

False

In [16]:
country=input("Enter the name of the country:")
if country in saarc:
    print(country, "is a member of SAARC")
print("Program terminated")

Enter the name of the country:bangladesh
Program terminated

In [17]:
saarc=["Bangladesh","Afghanistan","Bhutan","Nepal","India","Pakistan","Sri Lanka"]
country=input("Enter the name of the country:")
if country in saarc:
    print(country, "is a member of SAARC")
else:
    print(country, "is not a member of SAARC")
print("Program terminated")

Enter the name of the country:Bangladesh
Bangladesh is a member of SAARC
Program terminated

In [27]:
marks=input("Please enter your marks: ")
marks=int(marks)
if marks >=80:
    grade="A+"
elif marks >=70:
    grade="A"
elif marks >=60:
    grade="A-"
elif marks >=50:
    grade="B"
else:
    grade="F"
print("Your grade is", grade)

Please enter your marks: 55
Your grade is B

In [20]:
years=input('Enter a year')
year=int(years)
if year % 4 != 0:
    print("No")
else:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Yes")
        else:
            print("No")
    else:
        print("Yes")

Enter a year2000
Yes

In [21]:
years=input('Enter a year')
year=int(years)
if year % 400 == 0:
    print("Yes")
elif year % 100 == 0:
    print("NO")
elif year % 4 == 0:
    print("Yes")
else:
    print("No")

Enter a year1900
NO

In [22]:
years=input('Enter a year')
year=int(years)
if year % 100 != 0 and year % 4 == 0:
    print("Yes")
elif year % 100 == 0 and year % 400 == 0:
    print("Yes")
else:
    print("No")

Enter a year1800
No